In [10]:
import pandas as pd 
import matplotlib as map

Data set has no null vlaues at all all columns are filled out

In [9]:

filePath = 'TransitData.csv'
rawDF=pd.read_csv(filePath)
rawDF.info()
rawDF.isnull().sum()
rawDF.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704539 entries, 0 to 704538
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       704539 non-null  object
 1   Time       704539 non-null  object
 2   Class      704539 non-null  object
 3   Operation  704539 non-null  object
 4   Bus        704539 non-null  int64
 5   Route      704539 non-null  int64
 6   Latitude   704539 non-null  float64
 7   Longitude  704539 non-null  float64
dtypes: float64(2), int64(2), object(4)
memory usage: 43.0+ MB

,Date,Time,Class,Operation,Bus,Route,Latitude,Longitude
count,704539,704539,704539,704539,704539.000000,704539.000000,704539.000000,704539.000000
unique,31,1242,11,6,NaN,NaN,NaN,NaN
top,2017-10-05 0:00,1900-01-01 14:47,QUEENS,Exact Fare,NaN,NaN,NaN,NaN
freq,30372,1685,219294,380789,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,1241.137280,239.365809,40.941516,-70.604451
std,NaN,NaN,NaN,NaN,317.249714,288.489481,13.694826,21.473093
min,NaN,NaN,NaN,NaN,315.000000,1.000000,0.000000,-255.426092
25%,NaN,NaN,NaN,NaN,1047.000000,3.000000,44.224635,-76.526580
50%,NaN,NaN,NaN,NaN,1361.000000,15.000000,44.232833,-76.502100
75%,NaN,NaN,NaN,NaN,1480.000000,502.000000,44.248020,-76.486999
max,NaN,NaN,NaN,NaN,1689.000000,701.000000,255.426092,0.000000

echo "# CISC415_ASS1" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/amirRafati/CISC415_ASS1.git
git push -u origin main